<section class="slider benefits-slider">
    <div class="container">
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide benefits-slide">
                    <p class="benefits-slide__text">Slide 1</p>
                </div>
                <div class="swiper-slide benefits-slide">
                    <p class="benefits-slide__text">Slide 2</p>
                </div>
                <div class="swiper-slide benefits-slide">
                    <p class="benefits-slide__text">Slide 3</p>
                </div>

                <div class="swiper-slide benefits-slide">
                    <p class="benefits-slide__text">Slide 1</p>
                </div>
                <div class="swiper-slide benefits-slide">
                    <p class="benefits-slide__text">Slide 2</p>
                </div>
                <div class="swiper-slide benefits-slide">
                    <p class="benefits-slide__text">Slide 3</p>
                </div>

            </div>
            <!-- If we need pagination -->
            <ul class="swiper-pagination"></ul>

            <!-- If we need navigation buttons -->
            <button type="button" class="swiper-button-prev"></button>
            <button type="button" class="swiper-button-next"></button>


        </div>
    </div>
</section>