<header class="header">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="#test" class="nav-link scroll-to">Page 2</a>
      </li>

      <li class="nav-item">
        <a href="#footer" class="nav-link scroll-to">Footer</a>
      </li>
    </ul>
  </nav>


  <ul>
    <li>
      <a href="#testest" class="test-link">1111</a>
    </li>
    <li>
      <a href="#testest" class="test-link">2222</a>
    </li>
    <li>
      <a href="#testest" class="test-link">3333</a>
    </li>
  </ul>
  <button type="button" class="modal-open" data-menu-open>КНОПКА</button>
</header>
